/*
    Document   : states
    Created on : Apr 9, 2014, 6:56:27 PM
    Author     : dell
    Description:
    Purpose of the stylesheet follows.
*/

/*
    TODO customize this sample style
    Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/

root {
    display: block;
}

.show_none{
    display:none;
}