/* ==|====================
    Layout/Nav
======================= */

.l-nav {
    
    @include container(80%);
} 

.nav1{
    
    ul{
        margin : 0;
        padding : 0;
        list-style: none;
    }
    & >li{
        margin-left : 10%;   
        font-weight: bold;
        border-bottom: 5px solid $white;
        &:hover{
            border-bottom: 5px solid darken($color4,20%);
            
        }
    }
    li{
        display: inline-block;
        //position: relative;
        
    }
    a{
        display: block;
        padding : 6px 12px;
        
    }
    li ul{
        display: none;
    }
    li:hover > ul{
        display: block;
        background-color : #eee;
        position: absolute;
        li{
            font-weight: normal;
            
        }
    }
}

.nav2{
    height: 100%;
    @include span(2 of 12);
    background: url('img/bg2.png');
    color : $color-link;
    
    ul   li{
        position: relative;
        
        list-style : none;
        // position: absol
        text-indent: -30px;
    }
    li>ul{
        margin-left: -20px;
        //  @extend .show_none;
        
    }
}


.topbar{
    height:30px;
    background: url('img/bg1.png');
    opacity : 0.8;
    @include span(12 of 12);
    font-weight: 500;
    padding: 0;
    a{
        padding:0 20px 0 20px;
    }
    .separator{
        color : lighten($color-link,50%);
    }
}
.nav3{
    @extend .nav2;
  
    @include span(2 of 12 omega);
  
    
}